<div class="container">

  <div cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
    <!-- <div class="example-box" *ngFor="let timePeriod of timePeriods" cdkDrag>{{timePeriod}}</div> -->
    <div class="row">
      <mat-card *ngFor="let prod of productsData" cdkDrag class="example-card col-sm-4 mb-2">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{prod.name}}</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="test" class="img-fluid">
        <mat-card-content>
          <h3></h3>
          <p>{{prod.description}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
    
  </div>  
</div>